#procurar{
    width:90px;
    height: 30px;
}

.teste{
    align-items:self-end;
    display: block;
    max-height:550px;
    
}

.search{
    align-items: self-end;
    margin-top: 5px;
    margin-left: 170vh;
}